@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  /* Replace with the path to your image */
  background-image: url('/public/assets/images/bg1.jpg');

  /* Make the image cover the entire viewport */
  background-size: cover;

  /* Center the image */
  background-position: center;

  /* Prevent the image from repeating */
  background-repeat: no-repeat;

  /* Fix the background image during scroll */
  background-attachment: fixed;
}